.header {
	background-color: #333333;
}

.left_bar {
	background-color: #333333;
	width: 120px;
	border-radius: 5px;
	float: left;
	padding: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

.main_body {
	margin: 10px 10px 10px 10px;
}

a.left_list {
	float: left;
	font-weight: bold;
	font-size: 10px;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

a:link, a:visited {
	display: block;
	width: 120px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #333333;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover, a:active {
	background-color: #7A991A;
}
