{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Contact{% endblock %}

{% block body_block %}
  <h1>Contact Information</h1>
  
  <h3>Dr. Matthew Patitz</h3>
  <p><strong>Email: </strong>mpatitz (at) self-assembly (dot) net</p>
  <p><strong>Office: </strong>JBHT 517 (University of Arkansas)</p>
  <p><strong>Lab: </strong>JBHT 448 (University of Arkansas)</p>
  <br />

  <h3>Tyler Fochtman</h3>
  <p><strong>Email: </strong>tfochtma (at) uark (dot) edu</p>
  <p><strong>Lab: </strong>JBHT 448 (University of Arkansas)</p>
  <br />

  <h3>Jacob Hendricks</h3>
  <p><strong>Email: </strong>jhendic (at) uark (dot) edu</p>
  <p><strong>Lab: </strong>JBHT 448 (University of Arkansas)</p>
  <br />

  <h3>Ben Walcutt</h3>
  <p><strong>Email: </strong>bewalcut (at) uark (dot) edu</p>
  <p><strong>Lab: </strong>JBHT 448 (University of Arkansas)</p>
  <br />

  <br />
  <br />
  <br />
{% endblock %}  
