{% extends 'base.html' %}

{% load staticfiles %}

{% block title%}Home{% endblock %}

{% block body_block %}
  <div class="col-9">
  {% if user.is_authenticated %}
    <h1 style="text-transform: capitalize;">Hello {{user.username}}</h1>
  {% else %}
    <h1>Please login or register.</h1>
  {% endif %}
  {% if blog_list %}
    <ul>
      {% for post in blog_list %}
        <h3>{{ post.title }}</h3>
        {{ post.body }}
        <h6>{{ post.posted }} by {{ post.author }}</h6>
        <br /><hr><br />
      {% endfor %}
    </ul>
  {% else %}
    There are no posts.
  {% endif %}
  </div>
  <div class="col-3 menu">
    <ul>
      <li><a href="ox_web/{{ username }}/add_post/">Add Post</a></li>
    <ul>
  </div>  
{% endblock %}
