{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}My Jobs{% endblock %}

{% block body_block %}
  <div class="col-9 main_frame">
    <h1>My Jobs</h1>
    {% if jobs %}
      {% for i in jobs %}
       <a href="/ox_web/{{ username }}/{{ i.id }}/view_job/">Job ID: {{ i.id}}</a>
       <h5>Active? {{ i.active }}</h5>
       <h5>Tags: {{ i.tag1 }} {{ i.tag2 }} {{ i.tag3 }} {{ i.tag4 }}</h5>
       <h6>Created at: {{ i.created_at }}<br />
       Executed at: {{ i.executed_at }}</h6>
       <br />
       <hr>
      {% endfor %}
    {% else %}
      No jobs found.
    {% endif %}
    <br />
    <br />
  </div>
  <div class="col-3 menu">
    <form id="search_form" method="post" action="/ox_web/{{ username }}/jobs/">
    {% csrf_token %}
    <input type="text" name="search_text">
    <input type="submit" name="search_submit" value="Search jobs">
    </form>
    <br />
    <ul>
      <li><a href="/ox_web/{{ username }}/all_jobs/">View All Jobs</a></li>
      <li><a href="/ox_web/new_job/">New Job</a></li>
    </ul>
  </div>
    

{% endblock %}
