{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}My Jobs{% endblock %}

{% block body_block %}
  <div class="col-9">
    <h1>My Jobs</h1>

    {% if jobs %}
      {% for i in jobs %}
       <h5>Job ID: {{ i.id}}</h5>
       <h6>Created at: {{ i.created_at }}</h6
       <br />
       <hr>
      {% endfor %}
    {% else %}
      No jobs found.
    {% endif %}
  </div>
  <div class="col-3 menu">
    <ul>
      <li><a class="left_list" href="/ox_web/new_job/">New Job</a></li>
    </ul>
  </div>
    

{% endblock %}
