{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{%block body_block %}
  <div>
  {% if user.authenticated %}
    <h3>You are already logged in.</h3>
    <h4><a href="/ox_web/">Home</a>
  {% else %}
    <form id="login_form" method="post" action="/ox_web/login/">
    {% csrf_token %}
    <h1>Login to Ox Web Interface</h1>
    Username: <input type="text" name="username" value="" size="25" />
    <br />
    Password: <input type="password" name="password" value="" size="25" />
    <br />

    <input type="submit" value="Login" />
    </form>
  {% endif %}
  </div>
{% endblock %}
