{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}New Job{% endblock %}

{% block body_block %}
<div class="col-9">
  <h1>Start a new job</h1>
  <form id="start_job" method="post" action="/ox_web/new_job/" enctype=multipart/form-data">
  {% csrf_token %}
  <h5>Tags:</h5>
  Tag 1: <input type="text" name="tag1" value="" />
  <br />
  Tag 2: <input type="text" name="tag2" value="" />
  <br />
  Tag 3: <input type="text" name="tag3" value="" />
  <br />
  Tag 4: <input type="text" name="tag4" value="" />
  <br />
  <h5>Fields for inputMD file:</h5>
  {{ in_form.as_ul }}
  <input type="submit" name="submit" value="Create Job" />
  <br />
  <br />
  <br />
  <br />
</div>

{% endblock %}
