{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}View Job {{job.id}}{% endblock %}

{% block body_block %}
  <div class="col-9">
  <h1>Job {{ job.id }}</h1>
  <h5>Tags:<br />
      {{ job.tag1 }}<br />
      {{ job.tag2 }}<br />
      {{ job.tag3 }}<br />
      {{ job.tag4 }}</h5>
  <h5>Files with job:</h5>
  {% for i in files %}
  {{ i }}
  <br />
  {% endfor %}
  <h6>Created at: {{ job.created_at }}<br />
  Executed at: {{ job.executed_at }}</h6>
  </form>
  </div>

  <div class="col-3 menu">
  <ul>
    <li><a href="/ox_web/{{ username }}/{{ job.id }}/edit_tags/">Edit Tags</a></li>
    <li><a href="/ox_web/{{ username }}/{{ job.id }}/upload/">Upload Files</a></li>
    <li><a href="/ox_web/{{ username }}/{{ job.id }}/execute/">Start Job</a></li>
    {% if job.active %}
    <li><a href="/ox_web/{{ username }}/{{ job.id }}/inactivate/">Inactivate</a></li>
    {% else %}
    <li><a href="/ox_web/{{ username }}/{{ job.id }}/activate/">Activate</a></li>
    {% endif %}
  </ul>
  </div>
{% endblock %}
