
<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  <title>Web Interface {% block title %}{% endblock %}</title>

</head>

<body>
  <div class="header">
    <ul>
      <li class="col-2"><a href="/ox_web/">Home</a></li>
      <li class="col-2"><a href="https://dna.physics.ox.ac.uk">About</a></li>
      <li class="col-2"><a href="/ox_web/contact/">Contact</a></li>
      <li class="col-3"><a href="http://self-assembly.net">Self Assembly Group</a></li>
    </ul>
  </div>

  <div class="col-2 menu">
    <ul>
      {% if user.is_authenticated %}
      <li><a href="/ox_web/" class="left_list">Dashboard</a></li>
      <li><a href="/ox_web/{{ user.username }}/jobs/" class="left_list">My Jobs</a></li>
      <li><a href="/ox_web/{{ user.username }}/add_post/" class="left_list">Add Post</a></li>
      <li><a href="/ox_web/logout/" class="left_list">Logout</a></li>
      {% else %}
      <li><a href="/ox_web/login/" class="left_list">Login</a></li>
      <li><a href="/ox_web/register/" class="left_list">Register</a></li>
      {% endif %}      
    </ul>
  </div>
  <div class="col-9 main">
  {% block body_block %}

  {% endblock %}
  </div>

  <div class="col-12 footer">
    <div class="col-6">
      <p style="font-size: 10px">Web Interface provided by The Algorithmic Self-Assembly and Natural Computing Research Group at the University of Arkansas.</p>
    </div>
    <div class="col-6">
      <p style="font-size: 10px"><a href="mailto:bewalcut@email.uark.edu">Contact site administrator</a></p>
    </div>
  </div>
</body>

</html>
