
<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  <title>Web Interface {% block title %}{% endblock %}</title>

</head>

<body>
  <div class="header">
    <ul>
      <li><a href="/ox_web/"><br />Home</a></li>
      <li><a href="https://dna.physics.ox.ac.uk"><br />About</a></li>
      <li><a href="self-assembly.net">Self Assembly Group</a></li>
    </ul>
  </div>

  <div class="left_bar">
    <ul>
      {% if user.is_authenticated %}
      <li><a href="/ox_web/logout/" class="left_list">Logout</a></li>
      {% else %}
      <li><a href="/ox_web/login/" class="left_list">Login</a></li>
      {% endif %}      
    </ul>
  </div>
  <div class="main_body">
  {% block body_block %}

  {% endblock %}
  </div>
</body>

</html>
